<div class="card" style="width: 26rem;" *ngIf="detailShow">
  <img [src]="detailShow.img" class="card-img-top" alt="NO IMAGE!">
  <div class="card-body">
    <h5 class="card-title"><b>{{detailShow.bz}}</b></h5>
    <p class="card-text" [innerHTML]="detailShow.desc"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Genres: </b> {{detailShow.genre}}</li>
    <li class="list-group-item"><b>Sender: </b> {{detailShow.releasedOn}}</li>
    <li class="list-group-item"><b>Schaubar: </b> {{detailShow.watchableOn}}</li>
    <li class="list-group-item"><b>Erstausstrahlung: </b> {{detailShow.released}}</li>
    <li class="list-group-item"><b>Bewertung: </b> {{detailShow.rating}}</li>
  </ul>
