<h3>TV-Shows</h3>
<div class="row">
  <input class="form-control mr-sm-2" [(ngModel)]="searchtext" type="search" placeholder="Search" aria-label="Search">
</div>
<table class="table table-hover">
  <thead class="thead">
  <th>
    Serie
  </th>
  <th>
    Löschen
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let show of shows | async">
    <td (click)="showDetail(show)" *ngIf="show.bz.toLowerCase().includes(searchtext.toLowerCase())" >{{show.bz}}</td>
    <td *ngIf="show.bz.toLowerCase().includes(searchtext.toLowerCase())"><button type="button" class="btn btn-outline-danger" (click)="del(show)">
      <i class="material-icons">
        delete_outline
      </i>
    </button>
    </td>
  </tr>
  </tbody>
</table>
